@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="h1Font">Audre's Beverages</h1>
    <h3 class="h3Font">Try our vast selection of beverages</h3>
    <img src="~/Content/Images/wineBottles.jpeg" alt="Wine Bottles" width="500" height="350" />
    <br />
    <br />
    <p><a href="/Beverages" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
    
</div>